<div *ngIf="appoinment.Id==0; else elseBlock">



    <div class="form-group" style="background-color: rgba(158, 179, 175, 0.041);">
        <div class="row">
            <div class="col-sm-5">
                <label>
                    Please Select Dealer!
                    <span style="color: red;">*</span></label>
                <select [disabled]="disableappoinmentbutton" id="dealer" name="dealer" class="form-control"
                    [(ngModel)]="DealerId">
                    <option *ngFor="let data of DealerList" [value]="data.Id">
                        DealerName : {{data.DealerName}} - MobileNo : {{data.PhoneNo}}
                    </option>
                </select>
                <span *ngIf="tempDealer" style="color: red;">Please Select Dealer</span>
            </div>
            <div class="col-sm-5">
                <div class="row">
                    <label class="col-form-label">Enter Vehicle Number<span style="color: red;">*</span></label>
                </div>

                <div class="row">
                    <div style="display: flex">
                        <input type="text" class="form-control" name="LicencePlate" [(ngModel)]="LicencePlate"
                            placeholder="Vehicle Licence Plate">
                        <button type="button" class="btn btn-success" style="margin: 0"
                            (click)="getCustomerVehicleInfo(LicencePlate)">

                            <i class="fa fa-search" aria-hidden="true"></i></button>
                        <br>
                    </div>
                    <span *ngIf="vehicalnotfound" style="color: red;">Vehical not Found</span>

                    <div>
                    </div>

                </div>


            </div>
        </div>

    </div>





</div>
<ng-template #elseBlock>
    <div class="row">
        <label>Appoinment Details<span style="color: red;">*</span></label>
        <table class="table" style="background-color: rgba(212, 226, 250, 0.5);">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Mobile</th>
                    <th>Licence Plate</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Model</th>
                    <th>Brand</th>
                    <th>Status</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Total Time</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{appoinment.FName}}</td>
                    <td>{{appoinment.LName}}</td>
                    <td>{{appoinment.MobileNo}}</td>
                    <td>{{appoinment.LicencePlate }}</td>
                    <td>{{appoinment.City}}</td>
                    <td>{{appoinment.Country }}</td>
                    <td>{{appoinment.Model}}</td>
                    <td>{{appoinment.Brand}}</td>
                    <td>{{appoinment.Status}}
                        <!-- this.appoinment.Id -->

                        <!-- <select name="status" class="form-control" (change)="updateAppoinmentStatus(appoinment.Id)"
                            [(ngModel)]="updatedStatus" >
                            <option *ngIf="let data of statusArray" [selected]="data == appoinment.status" >
                                {{data}}
                            </option>
                            
                        </select> -->


                    </td>
                    <td>{{appoinment.StartDate}}</td>
                    <td>{{appoinment.EndDate}}</td>
                    <td>{{appoinment.TotalTime}}</td>
                    <td>{{appoinment.TotalPrice}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row" >
        <label>AppoinmentService Details<span style="color: red;">*</span></label>
        <div *ngIf="AppServiceList else elseBlockservice">
            <table  class="table" style="background-color: rgba(212, 226, 250, 0.5);">
                <thead>
                    <tr>
                        <th>Id</th>
                        <!-- <th>AppoinmentId </th> -->
                        <th>Service Name</th> 
                        <th>CostType</th>
                        <th>Description</th>
                        <th>Discount</th>
                        <th>FixPrice</th>
                        <th>Price</th>
                        <th>PricePerUnit</th>
                        <th>Quantity</th>
                        <th>SalesPart</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of AppServiceList">
                        <td>{{data.Id}}</td>
                        <!-- <td>{{data.AppoinmentId}}</td> -->
                        <td>{{data.ServiceName}}</td>
                        <td>{{data.CostType}}</td>
                        <td>{{data.Description}}</td>
                        <td>{{data.Discount }}</td>
                        <td>{{data.FixPrice}}</td>
                        <td>{{data.Price}}</td>
                        <td>{{data.PricePerUnit}}
                        <td>{{data.Quantity}}</td>
                        <td>{{data.SalesPart}}</td>
                         <button [disabled]='!data.DeleteButton' (click)="deleteApppoinmentService(data)" type="button" style="margin-left: 5%;" class="btn btn-outline-danger">
                        <i class="fa fa-trash" aria-hidden="true"></i>&nbsp; Delete</button>
                        <!-- (click)="deleteserviceClick(data)" -->
                    </tr>
                </tbody>
            </table>
        </div>
        <ng-template #elseBlockservice style="text-align: center;">
            <h1>No service availble</h1>
        </ng-template>


                                    <div  style="display: flex">
                                        <div class="col-sm-9">
                                            <label>Choose Service<span style="color: red;">*</span></label>
                                            <select  id="service" name="service" class="form-control"
                                                [(ngModel)]="ServiceId">
                                                <option *ngFor="let data of ServiceList" [value]="data.Id">
                                                    Service Name : {{data.Name}} - Price : {{data.Price}}
                                                </option>
                                            </select>
                                            <span *ngIf="tempAppservice" style="color: red;">Please Select Service</span>
                                        </div>
                                        <div class="col-sm-3">
                                            <!-- <label><span style="color: red;"></span></label> -->
                                            <br>
                                            <!--<input type="text" class="form-control" name="LicencePlate" [(ngModel)]="Quantity"> -->
                                            <button [disabled]="!disappoinmentserviceubtton" (click)="AddAppoinmentService()" class="btn btn-success"
                                                style="margin-top:2%; width: 50% ;margin-left:25%;">Add Service</button>
                                        </div>


                                    </div>


    </div>
    <div class="row">
        <label>Planning Details<span style="color: red;">*</span></label>
        <div *ngIf="PlanningList else elseBlock">
            <table class="table" style="background-color: rgba(212, 226, 250, 0.5);">
                <thead>
                    <tr>
                        <th>Id</th>
                        <!-- <th>AppoinmentId </th> -->
                        <th>AppointmentId</th>
                        <th>AppointmentServiceId</th>
                        <th>Duration</th>
                        <th>StartDate</th>
                        <th>EndDate</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of PlanningList">
                        <td>{{data.Id}}</td>
                        <!-- <td>{{data.AppoinmentId}}</td> -->
                        <td>{{data.AppointmentId}}</td>
                        <td>{{data.AppointmentServiceId}}</td>
                        <td>{{data.Duration}}</td>
                        <td>{{data.StartDate }}</td>
                        <td>{{data.EndDate}}</td>

                        <button (click)="deletePlanning(data)" type="button" style="margin-left: 5%;"
                            class="btn btn-outline-danger">
                            <i class="fa fa-trash" aria-hidden="true"></i>&nbsp; Delete</button>
                        <!-- (click)="deleteserviceClick(data)" -->
                    </tr>
                </tbody>
            </table>
        </div>
        <ng-template #elseBlock style="text-align: center;">
            <h1>No Planning availble</h1>
        </ng-template>

                                    <div >
                                
                                        <label>Choose Mechanic<span style="color: red;">*</span></label>
                                        <select   id="Mechanic" name="Mechanic"
                                            class="form-control" [(ngModel)]="MechanicId">

                                            <option *ngFor="let data of MechanicList" [value]="data.Id">
                                                <div *ngIf="MechanicList?.length else elseBlock">
                                                    Mechanic : {{data.MechanicName}} - MobileNo : {{data.MobileNo}}
                                                </div>
                                                <ng-template #elseBlock>
                                                    No Data Found
                                                </ng-template>

                                            </option>
                                        </select>
                                        <div style="display: flex">
                                            <div class="col-sm-5">
                                                <label>Start Date<span style="color: red;">*</span></label>
                                                <input type="datetime-local" class="form-control" name="LicencePlate" [(ngModel)]="StartDate"
                                                    placeholder="Start Date">
                                            </div>
                                            <div class="col-sm-5">
                                                <label>End Date<span style="color: red;">*</span></label>
                                                <input type="datetime-local" class="form-control" name="LicencePlate" [(ngModel)]="EndDate"
                                                    placeholder="End Date">
                                            </div>
                                        </div>
                                        <button  [disabled]="!displanningubutton" (click)="createPlanning()" class="btn btn-success done-plan"
                                            style="margin-top:2%; width: 50% ;margin-left:25%;">Create Plan</button>

                                    </div>


                                </div>


                                <button [disabled]="!moreService_PlanningButton" 
                                class="btn btn-success done-plan"
                                style="margin-top:2%; width: 50% ;margin-left:25%;"
                                (click)="moreService_Planning()">Add More Service & Planning</button>
    <!-- </div> -->
</ng-template>

<div *ngIf="appoinment.Id==0; ">
    <div class="row" *ngIf="!vehicalnotfound && CustomerVehicleInfo">
        <div>
            <label>Customer Details<span style="color: red;">*</span></label>
            <table class="table" style="background-color: rgba(212, 226, 250, 0.5);">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Mobile</th>
                        <th>Address</th>
                        <!-- <th>Email</th> -->
                        <th>City</th>
                        <th>Country</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{CustomerVehicleInfo.FName }}</td>
                        <td>{{CustomerVehicleInfo.LName }}</td>
                        <td>{{CustomerVehicleInfo.CustomerNo }}</td>
                        <td>{{CustomerVehicleInfo.Address }}</td>
                        <!-- <td>{{CustomerVehicleInfo.Email }}</td> -->
                        <td>{{CustomerVehicleInfo.City }}</td>
                        <td>{{CustomerVehicleInfo.Country }}</td>
                    </tr>
                </tbody>
            </table>
            <!-- </div> -->
            <label>Vehicle Details<span style="color: red;">*</span></label>
            <table class="table" style="background-color: rgba(212, 226, 250, 0.5);">
                <thead>
                    <tr>
                        <th>Licence Plate</th>
                        <th>Model</th>
                        <th>Brand</th>
                        <th>Meter Value</th>
                        <th>Reg. Date</th>
                        <th>Vin</th>
                        <th>Colour</th>
                        <th>Eng. No</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{CustomerVehicleInfo.LicencePlate }}</td>
                        <td>{{CustomerVehicleInfo.Model }}</td>
                        <td>{{CustomerVehicleInfo.Brand }}</td>
                        <td>{{CustomerVehicleInfo.MeterValue }}</td>
                        <td>{{CustomerVehicleInfo.RegDate }}</td>
                        <td>{{CustomerVehicleInfo.Vin }}</td>
                        <td>{{CustomerVehicleInfo.Colour }}</td>
                        <td>{{CustomerVehicleInfo.EngNo }}</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
   


