
<div>
    <div class="row">
        <label>Appoinment Details<span style="color: red;">*</span></label>
        <div style="display: flex;">
                <div class="col-md-5" style="display: flex;">
                        <div class="col-md-5 title">
                            <div>First Name    </div>
                            <div>Last Name      </div>
                            <div>Mobile        </div>
                            <div>Licence Plate </div>
                            <div>City          </div>
                            <div>Country       </div>
                            <div>Status        </div>
            
                        </div>
                        <div class="col-md-5">
                            <div>: {{appoinment.FName}}</div>
                            <div>: {{appoinment.LName}}</div>
                            <div>: {{appoinment.MobileNo}}</div>
                            <div>: {{appoinment.LicencePlate }}</div>
                            <div>: {{appoinment.City}}</div>
                            <div>: {{appoinment.Country }}</div>
                            <div>
                            
                                <select name="status" class="form-control" (change)="updateAppoinmentStatus(appoinment.Id)"
                                    [(ngModel)]="updatedStatus">
                                    <option [selected]="'pending' == appoinment.Status" value="pending">Pending</option>
                                    <option [selected]="'Confirm' ==appoinment.Status" value="Confirm">Confirm</option>
                                    <option [selected]="'Started' ==appoinment.Status" value="Started">Started</option>
                                    <option [selected]="'Work done' ==appoinment.Status" value="Work done">Work Done</option>
                                    <option [selected]="'Finished' ==appoinment.Status" value="Finished">Finished</option>
                            
                                </select>
                            </div>
                        </div>
                    </div>
                    <div  class="col-md-5"  style="display: flex;">
                           <div class="col-md-5 title" >
                            <div>Model       </div>
                            <div>Brand        </div>
                            <div>Total Price </div>
                            <div>Total Time   </div>
                            <div>Start Date  </div>
                            <div>End Date    </div>
                           
                            
                           </div>
                           <div class="col-md-5">
                            <div>: {{appoinment.Model}}</div>
                            <div>: {{appoinment.Brand}}</div>
                            <div>: {{appoinment.TotalPrice}}</div>
                            <div>: {{appoinment.TotalTime}}</div>
                            <div>: {{appoinment.StartDate  |  date:'dd/mm/yyyy hh:mm a'}}</div>
                            <div>: {{appoinment.EndDate  | date:'dd/mm/yyyy hh:mm a'}}</div>
                           
                            
                           </div>
                    </div>
        </div>
        <div style="display: flex;">
            <div class="col-md-5">
               
               
            </div>
            <div class="col-md-5">

            </div>
        </div>
        

    </div>

    <!-- Appointment Service Modal -->
    <div class="row">
        
        <div style="display: flex">
            <div class="col-sm-9">
                <label>Choose Service<span style="color: red;">*</span></label>
                <select [disabled]="!disappoinmentserviceubtton" id="service" name="service" class="form-control"
                    [(ngModel)]="ServiceId">
                    <option *ngFor="let data of ServiceList" [value]="data.Id">
                        Service Name : {{data.Name}} - Price : {{data.Price}}
                    </option>
                </select>
                <span *ngIf="tempAppservice" style="color: red;">Please Select Service</span>
            </div>
            <div class="col-sm-3">
                <!-- <label><span style="color: red;"></span></label> -->
                <br>
                <!--<input type="text" class="form-control" name="LicencePlate" [(ngModel)]="Quantity"> -->
                <button [disabled]="!disappoinmentserviceubtton" (click)="AddAppoinmentService()"
                    class="btn btn-success" style="margin-top:2%; width: 50% ;margin-left:25%;">Add Service</button>
            </div>


        </div>


    </div>
    <!-- Appointment Service Modal -->

    <!-- Planning Modal -->
    <div class="row">
       
        <div>

            <label>Choose Mechanic<span style="color: red;">*</span></label>
            <select id="Mechanic" name="Mechanic" class="form-control" [(ngModel)]="MechanicId">

                <option *ngFor="let data of MechanicList" [value]="data.Id">
                    <div *ngIf="MechanicList?.length else elseBlock">
                        Mechanic : {{data.MechanicName}} - MobileNo : {{data.MobileNo}}
                    </div>
                    <ng-template #elseBlock>
                        No Data Found
                    </ng-template>

                </option>
            </select>

            <span *ngIf="tempMechanicName" style="color: red;">Please Select Mechanic</span>
            <!-- <span *ngIf="MechanicNotAvailble">Mechanic Not Availble. Choose Other Date</span> -->

            <div style="display: flex">
                <div class="col-sm-5">
                    <label>Start Date<span style="color: red;">*</span></label>
                    <input type="datetime-local" class="form-control" name="LicencePlate" [(ngModel)]="StartDate"
                        placeholder="Start Date">
                    <span *ngIf="tempstartDate" style="color: red;">Please Select Start Date</span>

                </div>
                <div class="col-sm-5">
                    <label>End Date<span style="color: red;">*</span></label>
                    <input type="datetime-local" class="form-control" name="LicencePlate" [(ngModel)]="EndDate"
                        placeholder="End Date">
                    <span *ngIf="tempEndDate" style="color: red;">Please Select End Date</span>

                </div>
            </div>
            <div style="text-align: center;display: grid;">
                <span style="color: red;" *ngIf="validdate"> Please Select Valid Date</span>
            <button [disabled]="!displanningubutton" (click)="createPlanning()" class="btn btn-success done-plan"
                style="margin-top:2%; width: 50% ;margin-left:25%;">Create Plan</button>
            </div>

        </div>


    </div>
    <!-- Planning Modal -->

    <!-- Add Additional Planning -->

    <div class="modal fade" id="additionalPlanning" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
          <div class="modal-content" style="height: auto;
                  overflow-x: hidden;
                  overflow-y: scroll;">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Planning</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
      
              
                <div class="row">
       
                    <div>
            
                        <label>Choose Mechanic<span style="color: red;">*</span></label>
                        <select id="Mechanic" name="Mechanic" class="form-control" [(ngModel)]="MechanicId">
            
                            <option *ngFor="let data of MechanicList" [value]="data.Id">
                                <div *ngIf="MechanicList?.length else elseBlock">
                                    Mechanic : {{data.MechanicName}} - MobileNo : {{data.MobileNo}}
                                </div>
                                <ng-template #elseBlock>
                                    No Data Found
                                </ng-template>
            
                            </option>
                        </select>
            
                        <span *ngIf="tempMechanicName" style="color: red;">Please Select Mechanic</span>
                        <!-- <span *ngIf="MechanicNotAvailble">Mechanic Not Availble. Choose Other Date</span> -->
            
                        <div style="display: flex">
                            <div class="col-sm-5">
                                <label>Start Date<span style="color: red;">*</span></label>
                                <input type="datetime-local" class="form-control" name="LicencePlate" [(ngModel)]="StartDate"
                                    placeholder="Start Date">
                                <span *ngIf="tempstartDate" style="color: red;">Please Select Start Date</span>
            
                            </div>
                            <div class="col-sm-5">
                                <label>End Date<span style="color: red;">*</span></label>
                                <input type="datetime-local" class="form-control" name="LicencePlate" [(ngModel)]="EndDate"
                                    placeholder="End Date">
                                <span *ngIf="tempEndDate" style="color: red;">Please Select End Date</span>
            
                            </div>
                        </div>
                        <div style="text-align: center;display: grid;">
                            <span style="color: red;" *ngIf="validdate"> Please Select Valid Date</span>
                        <button (click)="createPlanning()" class="btn btn-success done-plan"
                            style="margin-top:2%; width: 50% ;margin-left:25%;">Create Plan</button>
                        </div>
            
                    </div>
            
            
                </div>
      
            </div>
          </div>
        </div>
    </div>

    <!-- Add Additional Planning -->

    <!-- <button [disabled]="!moreService_PlanningButton" class="btn btn-success done-plan"
        style="margin-top:2%; width: 50% ;margin-left:25%;"  (click)="moreService_Planning()">Add More Service &
        Planning</button> -->
    <!-- </div> -->
    <br>
    <label>Appoinment Service Details</label>
    <div >
        <table   class="table" style="background-color: rgba(212, 226, 250, 0.5);zoom: 0.9; ">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Planning Status </th>
                    <th>Service Name</th>
                    <th>Cost Type</th>
                    <th>Description</th>
                    <th>Discount</th>
                    <th>FixPrice</th>
                    <th>Price</th>
                    <!-- <th>Price Per Unit</th> -->
                    <th>Quantity [Hour] </th>
                    <th>Sales Part</th>
                    <th>Added By</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody *ngIf="AppServiceList else elseBlock ">
                <tr *ngFor="let data of AppServiceList">
                    <td>{{data.Id}}</td>
                    <!-- <td>{{data.AppoinmentId}}</td> -->
                    <td>
                        <!-- data-bs-toggle="modal" data-bs-target="#additionalPlanning" -->
                        <div *ngIf="data.DeleteButton else elseBlock">
                            <button style=" background-color: transparent;
                            outline: none;border: none;display: flex;" type="btn btn-default" (click)="OpenAdditionalPlanning(data)"><h1 style="color: green;">+</h1><p style="color: red;">Pending</p></button>
                        </div>
                        <ng-template #elseBlock>
                            
                            <p style="color: green;">Done</p>
                        </ng-template>
                    </td>
                    <td class="trancate-text">{{data.ServiceName}}</td>
                    <td>{{data.CostType}}</td>
                    <td class="trancate-text">{{data.Description}}</td>
                    <td>{{data.Discount }}</td>
                    <td>{{data.FixPrice}}</td>
                    <td>{{data.Price}}</td>
                    <!-- <td>{{data.PricePerUnit}} -->
                    <td>{{data.Quantity}}</td>
                    <td>{{data.SalesPart}}</td>
                    <td>
                        <div *ngIf="data.IsAdditional">
                            Customer
                        </div>
                        <div *ngIf="!data.IsAdditional">
                            Dealer
                        </div>
                    </td>
                    <td>
                        <button [disabled]='!data.DeleteButton' (click)="deleteApppoinmentService(data)"
                            type="button" style="margin-left: 5%;" class="btn btn-outline-danger">
                            <i class="fa fa-trash" aria-hidden="true"></i>&nbsp; Delete</button>
                    </td>
                    <!-- (click)="deleteserviceClick(data)" -->
                </tr>
            </tbody>
            <ng-template #elseBlock>
                No data found
            </ng-template>
        </table>
    </div>

    <label>Planning Details</label>
    <div >
        <table  class="table" style="background-color: rgba(212, 226, 250, 0.5);zoom: 0.9;">
            <thead>
                <tr>
                    <!-- <th>Id</th> -->
                    <!-- <th>AppoinmentId </th> -->
                    <!-- <th>AppointmentId</th> -->
                    <th>AppointmentServiceId</th>
                    <th>Mechanic Name</th>
                    <th>Duration</th>
                    <th>StartDate</th>
                    <th>EndDate</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody *ngIf="PlanningList?.length else elseBlockplan">
                <tr *ngFor="let data of PlanningList">
                    <!-- <td>{{data.Id}}</td> -->
                    <!-- <td>{{data.AppoinmentId}}</td> -->
                    <!-- <td>{{data.AppointmentId}}</td> -->
                    <td>{{data.AppointmentServiceId}}</td>
                    <td>{{data.MechanicName}}</td>
                    <td>{{data.Duration}}</td>
                    <td>{{data.StartDate  |  date:'dd/mm/yyyy hh:mm a' }}</td>
                    <td>{{data.EndDate  |  date:'dd/mm/yyyy hh:mm a'}}</td>

                    <td>
                        <button (click)="deletePlanning(data)" type="button" style="margin-left: 5%;"
                            class="btn btn-outline-danger">
                            <i class="fa fa-trash" aria-hidden="true"></i>&nbsp; Delete</button>
                    </td>
                    <!-- (click)="deleteserviceClick(data)" -->
                </tr>
            </tbody>
            <ng-template #elseBlockplan>
                    No data found
            </ng-template>
        </table>
    </div>
  
</div>