<div class="form-group" style="background-color: rgba(158, 179, 175, 0.041);">
    <div class="row">
        <label class="col-sm-2 col-form-label">MechanicName</label>
        <div class="col-sm-5"></div>
        <label class="col-sm-2 col-form-label">EmployeeNo</label>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <input type="text" class="form-control" name="FName" [(ngModel)]='Mechanic.MechanicName'>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
            <input type="text" class="form-control" [(ngModel)]='Mechanic.EmployeeNo'>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-2 col-form-label">isActive</label>
        <div class="col-sm-5"></div>
        <label class="col-sm-2 col-form-label">EmailId</label>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <input type="text" class="form-control" [(ngModel)]='Mechanic.isActive'>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
            <input type="text" class="form-control" [(ngModel)]='Mechanic.EmailId'>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-2 col-form-label">MobileNo</label>
        <div class="col-sm-5"></div>
        <label class="col-sm-2 col-form-label">DealerId</label>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <input type="text" class="form-control" [(ngModel)]='Mechanic.MobileNo'>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
            <input type="text" class="form-control" [(ngModel)]='Mechanic.DealerId'>
        </div>
    </div>

    
</div>

<button (click)="addMechanic()" *ngIf="Mechanic.Id==0" class="btn btn-outline-primary" style="margin-top:2%; margin-left: 43%;" >Add
    Mechanic</button>

<button (click)="editMechanic()" *ngIf="Mechanic.Id!=0" class="btn btn-outline-primary" style="margin-top:2%; margin-left: 43%;">Update
    Mechanic</button>