<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!-- Button trigger modal -->
<br>
<h5>Home / Customer</h5>

<div class="lds-ripple" [ngClass]="loader" style="z-index: 10000;position: fixed;top: 50%;left: 50%;"><div></div><div></div></div>
<button style="float:right;margin-top: 1%;" type="button" class="btn btn-outline-primary" (click)="addCustomerClick()"
    data-bs-toggle="modal" data-bs-target="#customerModal" data-backdrop="static" data-keyboard="false">
    <i class="fa fa-plus" aria-hidden="true"></i> Add Customer</button>


<!-- Modal Customer-->
<div class="modal fade" id="customerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" *ngIf="isEdit">
                <app-add-edit-customer [customer]="customer">  
                </app-add-edit-customer>
            </div>
        </div>
    </div>
</div>


<!-- Modal Vehicle-->
<div class="modal fade" id="vehicleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" *ngIf="addeditVehicle">
                <app-add-edit-vehicle [vehicle]="vehicle" *ngIf="ActivateAddEditVehicalComp"></app-add-edit-vehicle>
            </div>
        </div>
    </div>
</div>

<table id="filterListTable" class="table" style="background-color: rgba(212, 226, 250, 0.5);">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Zip Code</th>
            <th>Country</th>
            <th>Mobile</th>
            <th style="text-align:center">Action</th>
        </tr>
    </thead>
    <tbody>
        <!-- *ngFor="let dataItem of CustomerList" -->
        <ng-container *ngFor="let dataItem of CustomerList ; index as i">
            <tr>
                <td>{{dataItem.Id}}</td>
                <td>{{dataItem.CustomerName}}</td>
                <td>{{dataItem.Address}}</td>
                <td>{{dataItem.City}}</td>
                <td>{{dataItem.ZipCode}}</td>
                <td>{{dataItem.Country}}</td>
                <td>{{dataItem.CustomerNo}}</td>
                <td>{{dataItem.DeleteButton}}</td>
                <td>
                    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                        data-bs-target="#customerModal" (click)="editCustomerClick(dataItem)" data-backdrop="static"
                        data-keyboard="false">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                    

                    <button [disabled]='!dataItem.DeleteButton' type="button" style="margin-left: 5%;" class="btn btn-outline-danger"
                        (click)="deleteCustomerClick(dataItem)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>


                    <button type="button" style="margin-left: 5%;" class="btn btn-outline-primary"
                        data-bs-toggle="modal" data-bs-target="#vehicleModal" (click)="addVehicleClick(dataItem)"
                        data-backdrop="static" data-keyboard="false">
                        <i class="fa fa-car" aria-hidden="true"></i> &ensp;Add Vehicle
                    </button>
                    

                    <button class="btn btn-primary" type="button" style="margin-left: 5%;" data-toggle="collapse"
                        name="{{dataItem.Id}}" id="{{dataItem.Id}}"
                        [attr.data-target]="'#collapseVehicle'+dataItem.Id" aria-expanded="true"
                        [attr.aria-controls]="'collapseVehicle'+dataItem.Id">
                        <i class="fa fa-chevron-circle-down" aria-hidden="true" (click)="displayVehicles(dataItem)"> &ensp;Show Vehicles</i>
                    </button>

                </td>
            </tr>
            
        </ng-container>
    </tbody>
</table>

<ng-container *ngFor="let dataItem of CustomerList ; index as i">
<tr>
    <td *ngIf="display && dataItem.Id == currentVehical" colspan="8">
        <table  id="filterListTable" class="collapse" id="collapseVehicle{{dataItem.Id}}" class="table"
            style="background-color: rgba(212, 226, 250, 0.5);    width: 1640px">
            <thead>
                <tr>
                    <th>Licence Plate</th>
                    <th>Brand</th>
                    <th>Meter Value</th>
                    <th>Colour</th>
                    <th>Description</th>
                    <th>Model</th>
                    <th>Registration Date</th>
                    <th>Weight</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dataItem of vehical">
                    <td>{{dataItem.LicencePlate}}</td>
                    <td>{{dataItem.Brand}}</td>
                    <td>{{dataItem.MeterValue}}</td>
                    <td>{{dataItem.Colour}}</td>
                    <td>{{dataItem.Description}}</td>
                    <td>{{dataItem.Model}}</td>
                    <td>{{dataItem.RegDate}}</td>
                    <td>{{dataItem.Weight}}</td>
                    
                    <td>
                        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                            data-bs-target="#vehicleModal"(click)="editVehicleClick(dataItem)"
                            data-backdrop="static" data-keyboard="false">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                        <button type="button" style="margin-left: 5%;" class="btn btn-outline-danger"
                            (click)="deleteVehicleClick(dataItem)">
                            <i class="fa fa-trash" aria-hidden="true"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
</ng-container>