body {
    overflow-x: hidden;
  }
  #sidebar-wrapper {
    min-height: 100vh;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  #sidebar-wrapper .sidebar-heading {
    padding: 10px;
    font-size: 1.2rem;
  }
  #sidebar-wrapper .list-group {
    /* width: 225px; */
  }
  #page-content-wrapper {
    min-width: 100vw;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
    .sidenavbar{
        background-color: rgb(245, 248, 253);
    }
  }
  a.active {
    background-color: #339fdd;
    color: black;
  }

  .list-group-flush > a{
      display: grid;
      text-align: center;
      /* border-top: 2px solid; */
      border-bottom: 2px solid rgb(173, 169, 169);
      /* font-size: 25px; */
    
  }
  .fa{
    font-size: 30px;   
  }
