<div  class="form-group" style="background-color: rgba(158, 179, 175, 0.041);">
    <div class="row">
    <label class="col-sm-2 col-form-label" >Vehicle Description<span style="color: red;">*</span></label>
    <div class="col-sm-5"></div>
    <label class="col-sm-2 col-form-label">Brand<span style="color: red;">*</span></label>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <input type="text" class="form-control" [(ngModel)]='vehicle.Description'>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
            <input type="text" class="form-control" [(ngModel)]='vehicle.Brand'>
        </div>
        </div>
        <div class="row">
        <label class="col-sm-2 col-form-label">Licence Plate<span style="color: red;">*</span></label>
        <div class="col-sm-5"></div>
        <label class="col-sm-2 col-form-label">Modal<span style="color: red;">*</span></label>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <input type="text" class="form-control" [(ngModel)]='vehicle.LicencePlate'>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-5">
                <input type="text" class="form-control" [(ngModel)]='vehicle.Model'>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2 col-form-label">Meter Value<span style="color: red;">*</span></label>
            <div class="col-sm-5"></div>
            <label class="col-sm-2 col-form-label">Registration Date<span style="color: red;">*</span></label>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <input type="text" class="form-control" [(ngModel)]='vehicle.MeterValue'>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-5">
                    <input type="datetime-local" class="form-control" [(ngModel)]='vehicle.RegDate'>
                </div>
            </div>
    
            <div class="row">
                <label class="col-sm-2 col-form-label">Vehicle Weight<span style="color: red;">*</span></label>
                <div class="col-sm-5"></div>
                <label class="col-sm-2 col-form-label">MCH Code<span style="color: red;">*</span></label>
            </div>
                <div class="row">
                    <div class="col-sm-5">
                        <input type="text" class="form-control" [(ngModel)]='vehicle.Weight'>
                    </div>
                    <div class="col-sm-2"></div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" [(ngModel)]='vehicle.MCHCode'> 
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 col-form-label">VIN<span style="color: red;">*</span></label>
                <div class="col-sm-5"></div>
                <label class="col-sm-2 col-form-label">Engine Number<span style="color: red;">*</span></label>
            </div>
                <div class="row">
                    <div class="col-sm-5">
                        <input type="text" class="form-control" [(ngModel)]='vehicle.Vin'>
                    </div>
                    <div class="col-sm-2"></div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" [(ngModel)]='vehicle.EngNo'>
                </div>
        </div>
        <div class="row">
            <label class="col-sm-2 col-form-label">Vehicle Color<span style="color: red;">*</span></label>
        </div>
            <div class="row">
                <div class="col-sm-5">
                    <input type="text" class="form-control" [(ngModel)]='vehicle.Colour'>
                </div>
        </div>
    </div>
    <button (click)="addVehicle()"  class="btn btn-outline-primary" style="margin-top:2%; margin-left: 43%;">Add Vehicle</button>
    <!-- *ngIf="Id==0" -->
    <button (click)="editVehicle()"  class="btn btn-outline-primary" style="margin-top:2%; margin-left: 43%;">Update Vehicle</button>
    <!-- *ngIf="Id==0" -->