
    
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <br>
<h5 class="breadcrum">Home / Services</h5>

<div class="lds-ripple" [ngClass]="loader" style="z-index: 10000;position: fixed;top: 50%;left: 50%;"><div></div><div></div></div>



<!-- Button trigger modal -->
  <button style="float:right;margin-top: 1%;" type="button" class="btn btn-outline-primary" 
  data-bs-toggle="modal" data-bs-target="#exampleModal"
  (click)="addClick()"
  data-backdrop="static" data-keyboard="false">
  <i class="fa fa-plus" aria-hidden="true">    </i> Add Service</button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
            <button type="button" class="btn-close" 
            data-bs-dismiss="modal" aria-label="Close"
            (click)="closeClick()"></button>
          </div>
          <div class="modal-body"  *ngIf="ActivateAddEditServiceComp">
              <app-add-edit-service [services]="services"></app-add-edit-service>
          </div>
        </div>
      </div>
    </div>
    
  
  <table id="filterListTable" class="table" style="background-color: rgba(212, 226, 250, 0.5);">
      <thead>
          <tr>
              <th>ID</th>
              
              <th>Dealer Name</th>
              <th>Service Name</th>
              <th>Price</th>
              <th>Fix Price</th>
              <th>Discount</th>
              <th>Description</th>
              <th>SalesPart</th>
              <th>Quantity</th>
              <th>CostType</th>
              <!-- <th>PricePerUnit</th> -->
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let dataItem of ServiceList">
              <td>{{dataItem.Id}}</td>
              <td>{{dataItem.DealerName}}</td>
              <td>{{dataItem.Name}}</td>
              <td>{{dataItem.Price}}</td>
              <td>{{dataItem.FixPrice}}</td>
              <td>{{dataItem.Discount}}</td>
              <td>{{dataItem.Description}}</td>
              <td>{{dataItem.SalesPart}}</td>
              <td>{{dataItem.Quantity}}</td>
              <td>{{dataItem.CostType}}</td>
              <!-- <td>{{dataItem.PricePerUnit}}</td> -->
              <td style="display: flex;">
                  <button type="button" class="btn btn-outline-success"
                  data-bs-toggle="modal" data-bs-target="#exampleModal"
                  (click)="editClick(dataItem)"
                  
                  data-backdrop="static" data-keyboard="false">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp; Edit</button>
                  <button [disabled]='!dataItem.DeleteButton' type="button" style="margin-left: 5%;" class="btn btn-outline-danger"
                  (click)="deleteClick(dataItem)">
                  <i class="fa fa-trash" aria-hidden="true"></i>&nbsp; Delete</button>
              </td>
          </tr>
      </tbody>
  </table>
  