<div class="form-group" style="background-color: rgba(158, 179, 175, 0.041);">
    <div class="row">
        <label class="col-sm-2 col-form-label">Dealer Name<span style="color: red;">*</span></label>
        <div class="col-sm-5"></div>
        <label class="col-sm-2 col-form-label">Dealer No<span style="color: red;">*</span></label>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <input type="text" class="form-control" name="FName" [(ngModel)]='dealer.DealerName'>
            <span *ngIf="tempDealerName">DealerName Required</span>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
            <input type="text" class="form-control" (keypress)="IsNumeric($event)" [(ngModel)]='dealer.DealerNo'>
            <span *ngIf="tempDealerNo">DealerNo Required</span>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-2 col-form-label">IsActive<span style="color: red;">*</span> 
            <input style="margin-left: 20px;" type="checkbox"  [(ngModel)]='dealer.isActive'>
           
        </label>
        <div class="col-sm-5"></div>
        <label class="col-sm-2 col-form-label">IsOnline<span style="color: red;">*</span>
            <input style="margin-left: 20px;" type="checkbox" [(ngModel)]='dealer.isOnline'>
            
        </label>
    </div>
    
    <div class="row">
        <label class="col-sm-2 col-form-label">Website<span style="color: red;">*</span></label>
        <div class="col-sm-5"></div>
        <label class="col-sm-2 col-form-label">Email Id<span style="color: red;">*</span></label>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <input type="text" class="form-control" [(ngModel)]='dealer.Website'>
            <span *ngIf="tempWebsite">Website Required</span>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
            <input type="text" class="form-control" [(ngModel)]='dealer.Email'>
            <span *ngIf="tempEmail">Email Required</span>
        </div>
    </div>

    <div class="row">
        <label class="col-sm-2 col-form-label">Phone No<span style="color: red;">*</span></label>
        <div class="col-sm-5"></div>
        <label class="col-sm-2 col-form-label">Address<span style="color: red;">*</span></label>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <input type="text" class="form-control" (keypress)="IsNumeric($event)" [(ngModel)]='dealer.PhoneNo'>
            <span *ngIf="tempPhoneNo">PhoneNo Required</span>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
            <input type="text" class="form-control" [(ngModel)]='dealer.Address'>
            <span *ngIf="tempAddress">Address Required</span>
        </div>
    </div>
</div>

<!-- <button (click)="addDealer()" *ngIf="dealer.Id==0" class="btn btn-outline-primary" style="margin-top:2%; margin-left: 43%;" >
    Add Dealer</button>

<button (click)="editDealer()" *ngIf="dealer.Id!=0" class="btn btn-outline-primary" style="margin-top:2%; margin-left: 43%;">
    Update Dealer</button>
     -->
    
    <div style="text-align: center">
    
            <button (click)="addDealer()" *ngIf="dealer.Id==0" type="button" class="btn btn-success">Save</button>
            <button (click)="editDealer()" *ngIf="dealer.Id!=0" type="button" class="btn btn-success">Save</button>
            <button    data-bs-dismiss="modal" aria-label="Close" type="button" class="btn btn-danger">Cancel</button>
    </div>