<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<br>
<h5 class="breadcrum">Home / Appoinment</h5>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin-clockwise" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<!-- Button trigger modal -->
<button style="float:right;margin-top: 1%;" type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
  data-bs-target="#exampleModal" (click)="addClick()" data-backdrop="static" data-keyboard="false">
  <i class="fa fa-plus" aria-hidden="true"></i> &ensp;Add Appoinment</button>

<!-- add Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content" style="height: auto;
            overflow-x: hidden;
            overflow-y: scroll;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeClick()"></button>
      </div>
      <div class="modal-body" *ngIf="ActivateAddEditAppoinmentComp">

        <app-add-edit-appoinment [appoinment]="appoinment"></app-add-edit-appoinment>


      </div>
    </div>
  </div>
</div>
<!-- edit compoennt -->
<div class="modal fade" id="exampleModaledit" tabindex="-1" data-bs-backdrop="static"  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content" style="height: auto;
            overflow-x: hidden;
            overflow-y: scroll;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeClick()"></button>
      </div>
      <div class="modal-body" *ngIf="ActivateAddEditAppoinmentComp">

        <app-edit-appoinment [appoinment]="appoinment"></app-edit-appoinment>


      </div>
    </div>
  </div>
</div>


<table id="filterListTable" class="table" style="background-color: rgba(212, 226, 250, 0.5);">
  <thead>
    <tr>
      <th>
        <div class="th-inner" (click)="sortMaterialData('Id')">
          <span class="float-left cursor-pointer sortColumn" id="mtSalesPartCol">{{"Id"}}<i class="fa fa-fw fa-sort"></i></span>
          <span *ngIf="sortedColumn == 'Id'" class="sorting">
              <a [class.sorting-up]="isAscending" [class.sorting-down]="!isAscending"></a>
          </span>
      </div>
      </th>
      <th>
          <div class="th-inner" (click)="sortMaterialData('DealerName')">
              <span class="float-left cursor-pointer sortColumn" id="mtSalesPartCol">{{"Dealer Name"}}<i class="fa fa-fw fa-sort"></i></span>
              <span *ngIf="sortedColumn == 'DealerName'" class="sorting">
                  <a [class.sorting-up]="isAscending" [class.sorting-down]="!isAscending"></a>
              </span>
          </div>      
      </th>
      <th>
        <div class="th-inner" (click)="sortMaterialData('LicencePlate')">
          <span class="float-left cursor-pointer sortColumn" id="mtSalesPartCol">{{"Licence Plate"}}<i class="fa fa-fw fa-sort"></i></span>
          <span *ngIf="sortedColumn == 'LicencePlate'" class="sorting">
              <a [class.sorting-up]="isAscending" [class.sorting-down]="!isAscending"></a>
          </span>
        </div>  
      </th>
      <th>
        <div class="th-inner" (click)="sortMaterialData('FName')">
          <span class="float-left cursor-pointer sortColumn" id="mtSalesPartCol">{{"Customer Name"}}<i class="fa fa-fw fa-sort"></i></span>
          <span *ngIf="sortedColumn == 'FName'" class="sorting">
              <a [class.sorting-up]="isAscending" [class.sorting-down]="!isAscending"></a>
          </span>
        </div>
      </th>
      <!-- <th>Name</th> -->
      <th>
        <div class="th-inner" (click)="sortMaterialData('MobileNo')">
          <span class="float-left cursor-pointer sortColumn" id="mtSalesPartCol">{{"Mobile No"}}<i class="fa fa-fw fa-sort"></i></span>
          <span *ngIf="sortedColumn == 'MobileNo'" class="sorting">
              <a [class.sorting-up]="isAscending" [class.sorting-down]="!isAscending"></a>
          </span>
        </div>
      </th>
      <!-- <th>Email</th> -->
      <!-- <th>City</th>
                  <th>Country</th> -->
      <th>
        <div class="th-inner" (click)="sortMaterialData('TotalPrice')">
          <span class="float-left cursor-pointer sortColumn" id="mtSalesPartCol">{{"Total Price"}}<i class="fa fa-fw fa-sort"></i></span>
          <span *ngIf="sortedColumn == 'TotalPrice'" class="sorting">
              <a [class.sorting-up]="isAscending" [class.sorting-down]="!isAscending"></a>
          </span>
        </div>
      </th>
      <th>
        <div class="th-inner" (click)="sortMaterialData('Model')">
          <span class="float-left cursor-pointer sortColumn" id="mtSalesPartCol">{{"Model"}}<i class="fa fa-fw fa-sort"></i></span>
          <span *ngIf="sortedColumn == 'Model'" class="sorting">
              <a [class.sorting-up]="isAscending" [class.sorting-down]="!isAscending"></a>
          </span>
        </div>
      </th>
      <th>
        <div class="th-inner" (click)="sortMaterialData('Brand')">
          <span class="float-left cursor-pointer sortColumn" id="mtSalesPartCol">{{"Brand"}}<i class="fa fa-fw fa-sort"></i></span>
          <span *ngIf="sortedColumn == 'Brand'" class="sorting">
              <a [class.sorting-up]="isAscending" [class.sorting-down]="!isAscending"></a>
          </span>
        </div>
      </th>
      <th>
        <div class="th-inner" (click)="sortMaterialData('CreatedDate')">
          <span class="float-left cursor-pointer sortColumn" id="mtSalesPartCol">{{"Booking Date"}}<i class="fa fa-fw fa-sort"></i></span>
          <span *ngIf="sortedColumn == 'CreatedDate'" class="sorting">
              <a [class.sorting-up]="isAscending" [class.sorting-down]="!isAscending"></a>
          </span>
        </div>
      </th>
      <th>
        <div class="th-inner" (click)="sortMaterialData('Status')">
          <span class="float-left cursor-pointer sortColumn" id="mtSalesPartCol">{{"Status"}}<i class="fa fa-fw fa-sort"></i></span>
          <span *ngIf="sortedColumn == 'Status'" class="sorting">
              <a [class.sorting-up]="isAscending" [class.sorting-down]="!isAscending"></a>
          </span>
        </div>
      </th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataItem of AppointmentList">
      <td>{{dataItem.Id}}</td>
      <td>{{dataItem.DealerName}}</td>
      <td>{{dataItem.LicencePlate}}</td>
      <td>{{dataItem.FName}} {{dataItem.LName}}</td>
      <!-- <td></td> -->
      <td>{{dataItem.MobileNo}}</td>
      <!-- <td>{{dataItem.Email}}</td> -->
      <!-- <td>{{dataItem.City}}</td>
                  <td>{{dataItem.Country}}</td> -->
      <td>{{dataItem.TotalPrice}}</td>
      <td>{{dataItem.Model}}</td>
      <td>{{dataItem.Brand}}</td>
      <td>{{dataItem.CreatedDate |  date:'dd/mm/yyyy hh:mm a' }}</td>
      <td>
        {{dataItem.Status}}
        <!-- <button>Update Status</button> -->

      </td>

      <td style="display: flex;">
        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModaledit"
          (click)="editClick(dataItem)" data-backdrop="static" data-keyboard="false">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp; Edit</button>


        <button [disabled]='!dataItem.DeleteButton' type="button" style="margin-left: 5%;"
          class="btn btn-outline-danger" (click)="deleteClick(dataItem)">
          <i class="fa fa-trash" aria-hidden="true"></i>&nbsp; Delete</button>
      </td>
    </tr>
  </tbody>
</table>