/* You can add global styles to this file, and also import other style files */
body{
background-color: rgba(245, 250, 249, 0.5);
}.bg-image{
    background-image:url("/assets/images/bg_car.JPG") 
}

.btn{
    margin: 10px;
}
@import '~ngx-toastr/toastr';

@import '~ngx-toastr/toastr-bs4-alert';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';



.table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}
.table th{
  font-size: 16px;
}
.table td{
  padding-top: 6px;
  font-size: 14px;
}
.table td, .table th {
  
  text-align: left !important;
  text-align: center;
  padding: 8px;
}

.table tr {
  /* border-right: 1px solid #f8f8f8; */
  font-size: 12px;
}
.table tr:hover{
  background-color: #cccccc !important;
}
.table thead th {
  color: #ffffff;
  background: #89b0d4;
}




.table tr:nth-child(even) {
  background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
  .table {
      display: block;
      width: 100%;
  }
  .table-wrapper:before{
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 11px;
      color: white;
      padding: 0 0 3px;
  }
  .table thead, .table tbody, .table thead th {
      display: block;
  }
  .table thead th:last-child{
      border-bottom: none;
  }
  .table thead {
      float: left;
  }
  .table tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
  }
 
  .table td, .table th {
      /* padding: 20px .625em .625em .625em; */
      height: 60px;
      vertical-align: middle;
      /* box-sizing: border-box; */
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 20px;
      cursor: pointer;
      text-overflow: ellipsis;
  }
  .table thead th {
      text-align: left;
      /* border-bottom: 1px solid #f7f7f9; */
  }
  .table tbody tr {
      display: table-cell;
  }
  .table tbody tr:hover {
    
    background-color: grey;
}
  .table tbody tr:nth-child(odd) {
      background: none;
  }
  .table tr:nth-child(even) {
      background: transparent;
  }
  .table tr td:nth-child(odd) {
      background: #F8F8F8;
      /* border-right: 1px solid #E6E4E4; */
  }
  .table tr td:nth-child(even) {
      /* border-right: 1px solid #E6E4E4; */
  }
  .table tbody td {
      display: block;
      text-align: center;
  }
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .ShowloadDisplay{
    display: inline-block;
  }
  .HideloadDisaply{
    display: none;
  }
  table.dataTable tbody td {
    padding: 4px 10px !important;
}
.breadcrum{
  font-size: 20px !important;
}
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
