/* You can add global styles to this file, and also import other style files */
body{
background-color: rgba(245, 250, 249, 0.5);
}.bg-image{
    background-image:url("/assets/images/bg_car.JPG") 
}

.btn{
    margin: 10px;
}
@import '~ngx-toastr/toastr';

@import '~ngx-toastr/toastr-bs4-alert';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';



::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }