/* You can add global styles to this file, and also import other style files */
body{
background-color: rgba(245, 250, 249, 0.5);
}.bg-image{
    background-image:url("/assets/images/bg_car.JPG") 
}

.btn{
    margin: 10px;
}
@import '~ngx-toastr/toastr';

@import '~ngx-toastr/toastr-bs4-alert';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';



::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .ShowloadDisplay{
    display: inline-block;
  }
  .HideloadDisaply{
    display: none;
  }
  .lds-ripple {
    /* position: fixed;
    width: 100%;
    filter: alpha(opacity=50);
    height: 100%;
    opacity: 0.3;
    /* top: 50%;left: 50%; */
    /* z-index: 10000000000; */
    
  }
  .lds-ripple div {
    
    background-color: rgba(245, 250, 249, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    border: 4px solid rgb(85, 124, 23);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  