<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
  </head>
  <br>
<h5>Home / Mechanic</h5>
  <!-- Button trigger modal -->
  <button style="float:right;margin-top: 1%;" type="button" class="btn btn-outline-primary" 
  data-bs-toggle="modal" data-bs-target="#exampleModal"
  (click)="addMechanicClick()"
  data-backdrop="static" data-keyboard="false">
  <i class="fa fa-plus" aria-hidden="true"></i> &ensp;Add Mechanic</button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
            <button type="button" class="btn-close" 
            data-bs-dismiss="modal" aria-label="Close"
            (click)="closeClick()"></button>
          </div> 
          <div class="modal-body" *ngIf="ActivateAddEditMechanicComp">
              <app-add-edit-mechanical [Mechanic]="mechanic"></app-add-edit-mechanical>
              <!-- <app-add-edit-mechanic [mechanic]="mechanic" ></app-add-edit-mechanic> -->
          </div>
        </div>
      </div>
    </div>
    
  <table id="filterListTable"  class="table" style="background-color: rgba(212, 226, 250, 0.5);">
      <thead>
          <tr>
            <!-- <th>ID</th> -->
            <th>Name</th>
            <th>Address</th>
            <th>Website</th>
            <th>Email Id</th>
            <th>IsActive</th>
            <th>Dealer Id</th>
            <th>Action</th>
  
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let dataItem of MechanicList">
              
             <!-- <td>{{dataItem.id}}</td> -->
             <td>{{dataItem.MechanicName}}</td>
             <td>{{dataItem.EmployeeNo}}</td>
             <td>{{dataItem.MobileNo}}</td>
             <td>{{dataItem.EmailId}}</td>
             <td>{{dataItem.isActive}}</td>
             <td>{{dataItem.DealerName}}</td>
  
             <td>
                  <button type="button" class="btn btn-outline-success"
                  data-bs-toggle="modal" data-bs-target="#exampleModal"
                  (click)="editMechanicClick(dataItem)"
                  
                  data-backdrop="static" data-keyboard="false">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                  <button type="button" style="margin-left: 5%;" class="btn btn-outline-danger"
                  (click)="deleteMechanic(dataItem)">
                  <i class="fa fa-trash" aria-hidden="true"></i></button>
              </td>
          </tr>
      </tbody>
  </table>
  