
<div class="form-group" style="background-color: rgba(158, 179, 175, 0.041);">
    <div class="row">
        <label class="col-sm-2 col-form-label">
            Dealer Select
        <span style="color: red;">*</span></label>
        <div class="col-sm-5"></div>
        <label class="col-sm-2 col-form-label">Service Name<span style="color: red;">*</span></label>
    </div>
    <div class="row">
        <div class="col-sm-5">
            
            
            <select [disabled]="services.Name ? true : false " id="dealer" name="dealer" class="form-control" [(ngModel)]="DealerId">
                <option *ngFor="let data of DealerList" [selected]="data.Id == services.DealerId" value={{data.Id}}>
                     <span >Dealer Name : {{data.DealerName}} - Phone No :  {{data.PhoneNo}}</span>
                </option>
            </select>
           

            <span *ngIf="serviceDealerId">Dealer Required</span>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
            <input type="text" class="form-control" [(ngModel)]='services.Name'>
            <span *ngIf="sericeName">Name Required</span>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-2 col-form-label"> Price<span style="color: red;">*</span></label>
        <div class="col-sm-5"></div>
        <label class="col-sm-2 col-form-label">Fix Price<span style="color: red;">*</span></label>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <input type="text" class="form-control"  (keypress)="IsNumeric($event)" [(ngModel)]='services.Price'>
            <span *ngIf="servicePrice">Price Required</span>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
            <input type="text" class="form-control" (keypress)="IsNumeric($event)" [(ngModel)]='services.FixPrice'>
            <span *ngIf="servicefixprice">FixPrice Required</span>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-2 col-form-label" >Discount<span style="color: red;">*</span></label>
        <div class="col-sm-5"></div>
        <label class="col-sm-2 col-form-label">Description<span style="color: red;">*</span></label>
        <!-- <label class="col-sm-2 col-form-label">Dealer Select<span style="color: red;">*</span></label> -->
    </div>
    <div class="row">
        <div class="col-sm-5">
            <input type="text" class="form-control" (keypress)="IsNumeric($event)"  [(ngModel)]='services.Discount'>
            <span *ngIf="serviceDiscount">Discount Required</span>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
            <input type="text" class="form-control" [(ngModel)]='services.Description'>
            <span *ngIf="serviceDescription">Description Required</span>


        </div>
    </div>
    <div class="row">
        <label class="col-sm-2 col-form-label">Cost Type<span style="color: red;">*</span></label>
        <div class="col-sm-5"></div>
        <label class="col-sm-2 col-form-label">Sales Part<span style="color: red;">*</span></label>
        <!-- <label class="col-sm-2 col-form-label">Dealer Select<span style="color: red;">*</span></label> -->
    </div>
    <div class="row">
        <div class="col-sm-5">
            <input type="text" class="form-control"  [(ngModel)]='services.CostType'>
            <span *ngIf="serviceCosttype">CostType Required</span>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
            <input type="text" class="form-control" [(ngModel)]='services.SalesPart'>
            <span *ngIf="serviceSalesPart">SalesPart Required</span>
        </div>
    </div>
    <div class="row">
        <!-- <label class="col-sm-2 col-form-label">PricePerUnit<span style="color: red;">*</span></label> -->
        <!-- <div class="col-sm-5"></div> -->
        <label class="col-sm-2 col-form-label">Quantity<span style="color: red;">*</span></label>
        <!-- <label class="col-sm-2 col-form-label">Dealer Select<span style="color: red;">*</span></label> -->
    </div>
    <div class="row">
        <!-- <div class="col-sm-5"> -->
            <!-- <input type="text" class="form-control"  [(ngModel)]='services.PricePerUnit'> -->
            <!-- <span *ngIf="servicePricePerUnit">PricePerUnit Required</span> -->
        <!-- </div> -->
        <!-- <div class="col-sm-2"></div> -->
        <div class="col-sm-5">
            <input type="time" class="form-control" [(ngModel)]='services.Quantity'>
            <span *ngIf="serviceQuantity">Quantity Required</span>

        </div>

</div>
<!-- 
<button (click)="addService()" *ngIf="services.Id==0" class="btn btn-outline-primary" style="margin-top:2%; margin-left: 43%;" >Add
    Service</button>

<button (click)="editService()" *ngIf="services.Id!=0" class="btn btn-outline-primary" style="margin-top:2%; margin-left: 43%;">Update
    Service</button> -->


<div style="text-align: center">

    <button (click)="addService()" *ngIf="services.Id==0" type="button" class="btn btn-success">Save</button>
    
    <button (click)="editService()" *ngIf="services.Id!=0" type="button" class="btn btn-success">Save</button>
    <button    data-bs-dismiss="modal" aria-label="Close" type="button" class="btn btn-danger">Cancel</button>
</div>