<div class="form-group" style="background-color: rgba(158, 179, 175, 0.041);">
    <div class="row">
        <label class="col-sm-2 col-form-label">ServiceName</label>
        <div class="col-sm-5"></div>
        <label class="col-sm-2 col-form-label">Price</label>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <input type="text" class="form-control" name="Name" [(ngModel)]='services.Name'>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
            <input type="text" class="form-control" [(ngModel)]='services.Price'>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-2 col-form-label">FixPrice</label>
        <div class="col-sm-5"></div>
        <label class="col-sm-2 col-form-label">Discount</label>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <input type="text" class="form-control" [(ngModel)]='services.FixPrice'>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
            <input type="text" class="form-control" [(ngModel)]='services.Discount'>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-5"></div>
        <label class="col-sm-2 col-form-label">Dealer Select</label>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <input type="text" class="form-control" [(ngModel)]='services.Description'>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
            
            <select id="dealer" name="dealer" class="form-control" [(ngModel)]="DealerId">
                <option *ngFor="let data of DealerList" [value]="data.Id">
                    {{data.DealerName}} - {{data.DealerNo}}
                </option>
            </select>


        </div>
    </div>

    
</div>

<button (click)="addService()" *ngIf="services.Id==0" class="btn btn-outline-primary" style="margin-top:2%; margin-left: 43%;" >Add
    Service</button>

<button (click)="editService()" *ngIf="services.Id!=0" class="btn btn-outline-primary" style="margin-top:2%; margin-left: 43%;">Update
    Service</button>