<form #myForm="ngForm">
    <div class="form-group" style="background-color: rgba(158, 179, 175, 0.041);">
        <div class="row">
            <label class="col-sm-2 col-form-label">First Name<span style="color: red;">*</span></label>
            <div class="col-sm-5"></div>
            <label class="col-sm-2 col-form-label">Last Name<span style="color: red;">*</span></label>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <input type="text" class="form-control" name="FName" [(ngModel)]='customer.FName'
                    placeholder="First Name" required>
                <span *ngIf="tempFName">First Name Required</span>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-5">
                <input type="text" class="form-control" [(ngModel)]='customer.LName' placeholder="Last Name" required
                    name="LName">
                <span *ngIf="tempLName">Last Name Required</span>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2 col-form-label">Address<span style="color: red;">*</span></label>
            <div class="col-sm-5"></div>
            <label class="col-sm-2 col-form-label">Zip Code<span style="color: red;">*</span></label>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <input type="text" class="form-control" [(ngModel)]='customer.Address' placeholder="Address" required
                    name="Address">
                <span *ngIf="tempAddress">Address Required</span>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-5">
                <input type="text" class="form-control" [(ngModel)]='customer.ZipCode' required placeholder="ZipCode"
                    name="ZipCode">
                <span *ngIf="tempZipCode">ZipCode Required</span>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2 col-form-label">City<span style="color: red;">*</span></label>
            <div class="col-sm-5"></div>
            <label class="col-sm-2 col-form-label">Country<span style="color: red;">*</span></label>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <input type="text" class="form-control" [(ngModel)]='customer.City' placeholder="City" required
                    name="City">
                <span *ngIf="tempCity">City Required</span>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-5">
                <input type="text" class="form-control" [(ngModel)]='customer.Country' required placeholder="Country"
                    name="Country">
                <span *ngIf="tempCountry">Country Required</span>
            </div>
        </div>

        <div class="row">
            <label class="col-sm-2 col-form-label">Email<span style="color: red;">*</span></label>
            <div class="col-sm-5"></div>
            <label class="col-sm-2 col-form-label">Mobile<span style="color: red;">*</span></label>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <input type="email" email class="form-control" [(ngModel)]='customer.Email' placeholder="Email"
                    name="Email" required>
                <span *ngIf="tempEmail">Email Required</span>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-5">
                <input type="text" class="form-control" [(ngModel)]='customer.CustomerNo' name="CustomerNo"
                    placeholder="MobileNo" required>
                <span *ngIf="tempCustomerNo">Mobile No Required</span>
            </div>
        </div>
    </div>

    <div style="text-align: center">

        <button (click)="addCustomer()" *ngIf="customer.Id==0" type="button" class="btn btn-success">Save</button>
        <button (click)="editCustomer()" *ngIf="customer.Id!=0" type="button" class="btn btn-success">Save</button>
        <button data-bs-dismiss="modal" aria-label="Close" type="button" class="btn btn-danger">Cancel</button>
    </div>
</form>